@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Source+Code+Pro:wght@400;600&family=Work+Sans:wght@200;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Work Sans", sans-serif;
    @apply scroll-smooth scroll-pt-[100px] md:scroll-pt-[130px] lg:scroll-pt-[160px] xl:scroll-pt-[100px];
  }
}

@layer components {
  .skip-link {
    @apply absolute left-1/2 z-50 -translate-x-1/2 -translate-y-full bg-black px-3 py-2 text-white duration-500 hover:bg-gray-dark focus:translate-y-0;
  }

  .h1 {
    @apply py-2 text-base font-semibold uppercase lg:py-4 lg:text-2xl;
  }

  .h2 {
    @apply py-2 text-base lg:py-4 lg:text-xl;
  }

  .h3,
  .h4,
  .h5,
  .h6 {
    @apply py-2 text-sm lg:py-4 lg:text-base;
  }

  .form__input {
    @apply block w-full rounded-md border border-gray px-3 py-4 text-xs text-black-light placeholder:text-black-light;
  }

  .formatted-content strong {
    @apply font-semibold;
  }

  .formatted-content p {
    @apply mb-2 max-w-[700px] text-xs text-black-light lg:text-sm;
  }

  .formatted-content hr {
    @apply my-4 lg:my-6;
  }

  .formatted-content a {
    @apply font-semibold;
  }

  .formatted-content ul {
    @apply py-2 lg:py-4;
  }

  .formatted-content ol {
    @apply ml-4 list-decimal py-2 lg:py-4;
  }

  .formatted-content ol li {
    @apply relative pl-3 text-sm marker:text-xs lg:pl-4 lg:text-base;
  }

  .formatted-content ul li {
    @apply relative pl-6 text-sm lg:pl-8 lg:text-base;
  }

  .formatted-content ul li {
    @apply before:absolute before:top-[4px] before:-left-0 before:h-[15px] before:w-[15px] before:bg-check lg:before:h-[20px] lg:before:w-[20px];
  }

  .formatted-content li p {
    @apply py-0 text-[20px];
  }

  /* PROMOZIONI */

  .formatted-content .promobox p {
    @apply text-xs sm:text-xxs;
  }

  .formatted-content .promobox ul {
    @apply space-y-2 py-0 lg:py-0;
  }

  .formatted-content .promobox ul li {
    @apply list-inside list-disc pl-3 text-xs before:bg-none sm:text-xxs;
  }

  .button--with-arrow {
    @apply flex items-center font-semibold tracking-wider text-black no-underline after:ml-2 after:inline-block after:h-8 after:w-8 after:bg-arrow-right-black after:duration-300 hover:after:translate-x-2 hover:after:bg-arrow-right-red md:text-xs md:after:h-10 md:after:w-10;
  }

  .button--with-arrow-small {
    @apply flex items-center tracking-wider text-black no-underline after:ml-2 after:inline-block after:h-6 after:w-6 after:bg-arrow-right-black after:duration-300 hover:after:translate-x-2 hover:after:bg-arrow-right-red md:text-xs md:after:h-6 md:after:w-6;
  }

  .title {
    @apply text-base font-semibold uppercase md:text-2xl;
  }

  .title--big {
    @apply z-20 text-lg font-semibold uppercase md:absolute md:top-1/2 md:w-1/2 md:-translate-y-2/4 md:text-2xl 2xl:text-3xl;
  }

  .title--small {
    @apply text-xxs uppercase md:text-sm md:tracking-wide lg:text-base;
  }

  .dato-image-contain,
  .dato-image-cover {
    position: absolute !important;
    height: 100%;
    max-width: 100% !important;
  }

  img.dato-image-contain,
  img.dato-image-cover,
  .dato-image-contain picture,
  .dato-image-cover picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  img.dato-image-cover,
  .dato-image-cover picture img {
    object-fit: cover;
    object-position: center;
  }

  img.dato-image-contain,
  .dato-image-contain picture img {
    object-fit: contain;
    object-position: center;
  }

  .container {
    @apply mx-auto my-0 px-4 md:px-6;
  }
  .card-title-news {
    @apply pl-10 pr-4 bg-[theme('colors.cat.news')] shadow-[5px_0_0_[theme('colors.cat.news')],-25px_0_0_[theme('colors.cat.news')]] md:shadow-[10px_0_0_[theme('colors.cat.news')],-30px_0_0_[theme('colors.cat.news')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.news')],-35px_0_0_[theme('colors.cat.news')]] box-decoration-clone text-white;
  }

  .card-title-eventi {
    @apply pl-10 pr-4 bg-[theme('colors.cat.eventi')] shadow-[5px_0_0_[theme('colors.cat.eventi')],-25px_0_0_[theme('colors.cat.eventi')]] md:shadow-[10px_0_0_[theme('colors.cat.eventi')],-30px_0_0_[theme('colors.cat.eventi')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.eventi')],-35px_0_0_[theme('colors.cat.eventi')]] box-decoration-clone text-white;
  }

  .card-title-linguaggi {
    @apply pl-10 pr-4 bg-[theme('colors.cat.linguaggi')] shadow-[5px_0_0_[theme('colors.cat.linguaggi')],-25px_0_0_[theme('colors.cat.linguaggi')]] md:shadow-[10px_0_0_[theme('colors.cat.linguaggi')],-30px_0_0_[theme('colors.cat.linguaggi')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.linguaggi')],-35px_0_0_[theme('colors.cat.linguaggi')]] box-decoration-clone text-white;
  }

  .card-title-workshop {
    @apply pl-10 pr-4 bg-[theme('colors.cat.workshop')] shadow-[5px_0_0_[theme('colors.cat.workshop')],-25px_0_0_[theme('colors.cat.workshop')]] md:shadow-[10px_0_0_[theme('colors.cat.workshop')],-30px_0_0_[theme('colors.cat.workshop')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.workshop')],-35px_0_0_[theme('colors.cat.workshop')]] box-decoration-clone text-white;
  }

  .card-title-artisti {
    @apply pl-10 pr-4 bg-[theme('colors.cat.artisti')] shadow-[5px_0_0_[theme('colors.cat.artisti')],-25px_0_0_[theme('colors.cat.artisti')]] md:shadow-[10px_0_0_[theme('colors.cat.artisti')],-30px_0_0_[theme('colors.cat.artisti')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.artisti')],-35px_0_0_[theme('colors.cat.artisti')]] box-decoration-clone text-white;
  }

  .card-title-compagnie {
    @apply pl-10 pr-4 bg-[theme('colors.cat.compagnie')] shadow-[5px_0_0_[theme('colors.cat.compagnie')],-25px_0_0_[theme('colors.cat.compagnie')]] md:shadow-[10px_0_0_[theme('colors.cat.compagnie')],-30px_0_0_[theme('colors.cat.compagnie')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.compagnie')],-35px_0_0_[theme('colors.cat.compagnie')]] box-decoration-clone text-white;
  }

  .card-title-residenze {
    @apply pl-10 pr-4 bg-[theme('colors.cat.residenze')] shadow-[5px_0_0_[theme('colors.cat.residenze')],-25px_0_0_[theme('colors.cat.residenze')]] md:shadow-[10px_0_0_[theme('colors.cat.residenze')],-30px_0_0_[theme('colors.cat.residenze')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.residenze')],-35px_0_0_[theme('colors.cat.residenze')]] box-decoration-clone text-white;
  }

  .card-title-progetto {
    @apply pl-10 pr-4 bg-[theme('colors.cat.progetto')] shadow-[5px_0_0_[theme('colors.cat.progetto')],-25px_0_0_[theme('colors.cat.progetto')]] md:shadow-[10px_0_0_[theme('colors.cat.progetto')],-30px_0_0_[theme('colors.cat.progetto')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.progetto')],-35px_0_0_[theme('colors.cat.progetto')]] box-decoration-clone text-white;
  }

  .card-title-pubblicazioni {
    @apply pl-10 pr-4 bg-[theme('colors.cat.pubblicazioni')] shadow-[5px_0_0_[theme('colors.cat.pubblicazioni')],-25px_0_0_[theme('colors.cat.pubblicazioni')]] md:shadow-[10px_0_0_[theme('colors.cat.pubblicazioni')],-30px_0_0_[theme('colors.cat.pubblicazioni')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.pubblicazioni')],-35px_0_0_[theme('colors.cat.pubblicazioni')]] box-decoration-clone text-white;
  }

  .card-title-reti {
    @apply pl-10 pr-4 bg-[theme('colors.cat.reti')] shadow-[5px_0_0_[theme('colors.cat.reti')],-25px_0_0_[theme('colors.cat.reti')]] md:shadow-[10px_0_0_[theme('colors.cat.reti')],-30px_0_0_[theme('colors.cat.reti')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.reti')],-35px_0_0_[theme('colors.cat.reti')]] box-decoration-clone text-white;
  }

  .card-title-partner {
    @apply pl-10 pr-4 bg-[theme('colors.cat.partner')] shadow-[5px_0_0_[theme('colors.cat.partner')],-25px_0_0_[theme('colors.cat.partner')]] md:shadow-[10px_0_0_[theme('colors.cat.partner')],-30px_0_0_[theme('colors.cat.partner')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.partner')],-35px_0_0_[theme('colors.cat.partner')]] box-decoration-clone text-white;
  }
  .card-title-festival {
    @apply pl-10 pr-4 bg-[theme('colors.cat.festival')] shadow-[5px_0_0_[theme('colors.cat.festival')],-25px_0_0_[theme('colors.cat.festival')]] md:shadow-[10px_0_0_[theme('colors.cat.festival')],-30px_0_0_[theme('colors.cat.festival')]] lg:2xl:shadow-[15px_0_0_[theme('colors.cat.festival')],-35px_0_0_[theme('colors.cat.festival')]] box-decoration-clone text-white;
  }
  .card-title-default {
    @apply pl-10 pr-4 bg-[theme('colors.black.light')] shadow-[5px_0_0_[theme('colors.black.light')],-25px_0_0_[theme('colors.black.light')]] md:shadow-[10px_0_0_[theme('colors.black.light')],-30px_0_0_[theme('colors.black.light')]] lg:2xl:shadow-[15px_0_0_[theme('colors.black.light')],-35px_0_0_[theme('colors.black.light')]] box-decoration-clone text-white;
  }

  .swiper .swiper-pagination .swiper-pagination-bullet,
  .swiper-gallery .swiper-pagination .swiper-pagination-bullet,
  .swiper-gallery-standard .swiper-pagination .swiper-pagination-bullet {
    @apply mx-2 h-3 w-3 bg-white md:hidden;
  }

  .swiper .swiper-button-prev,
  .swiper-gallery .swiper-button-prev,
  .swiper-gallery-standard .swiper-button-prev {
    @apply top-auto bottom-12 left-16 hidden h-14 w-14 before:absolute before:inset-0
    before:scale-0 before:rounded-full before:border before:border-white before:duration-300 before:ease-in
    after:h-full after:w-3/5 after:bg-arrow-left after:bg-center after:bg-no-repeat after:text-white hover:before:scale-100 md:flex
    2xl:bottom-24;
  }
  .swiper .swiper-button-next,
  .swiper-gallery .swiper-button-next,
  .swiper-gallery-standard .swiper-button-next {
    @apply top-auto bottom-12 left-32 hidden h-14 w-14 before:absolute before:inset-0 before:scale-0 before:rounded-full before:border before:border-white before:duration-300 before:ease-in after:h-full after:w-3/5 after:bg-arrow-right after:bg-center after:bg-no-repeat after:text-white hover:before:scale-100 md:flex 2xl:bottom-24;
  }

  /* .SwiperGallery.swiper {
  /* .SwiperGallery.swiper {
  @apply overflow-visible;
  } */

  /* .SwiperGallery.swiper .swiper-slide {
  /* .SwiperGallery.swiper .swiper-slide {
  @apply opacity-0 transition-all;
  }

  .SwiperGallery.swiper .swiper-slide-active {
    @apply opacity-100;
  } */

  .swiper.swiper-button-prev,
  .swiper-gallery .swiper-button-prev {
    @apply left-[-33%] bottom-0 before:border-black after:bg-arrow-left-black xl:left-[calc(-33%+1.5rem)] xl:bottom-8 2xl:-left-[333px];
  }

  .swiper.swiper-button-next,
  .swiper-gallery .swiper-button-next {
    @apply bottom-0 left-[calc(-33%+3.5rem)] before:border-black after:bg-arrow-right-black xl:bottom-8 xl:left-[calc(-33%+5rem)] 2xl:-left-[calc(333px-3.5rem)];
  }

  .swiper-gallery-standard .swiper-button-prev {
    @apply hidden;
  }

  .swiper-gallery-standard .swiper-button-next {
    @apply right-0 left-auto top-1/2 after:bg-arrow-right-black hover:before:border-black;
  }
  .swiper-gallery-standard {
    @apply relative;
  }

  @media (min-width: 1536px) {
    .mySwiper .swiper-button-prev {
      left: calc((100vw - 1380px) / 2);
    }
  }
  @media (min-width: 1536px) {
    .mySwiper .swiper-button-prev {
      left: calc((100vw - 1380px) / 2);
    }

    .mySwiper .swiper-button-next {
      left: calc(((100vw - 1380px) / 2) + 70px);
    }
  }

  .swiper-notification {
    @apply sr-only;
  }

  @media (max-width: 1023px) {
    .custom-nth-child:nth-child(even) {
      margin-left: 2%;
    }
  }

  .swiper-notification {
    @apply sr-only;
  }

  @media (max-width: 1023px) {
    .custom-nth-child:nth-child(even) {
      margin-left: 2%;
    }
  }

  @media (min-width: 1024px) {
    .custom-nth-child {
      margin-left: 2%;
    }

    .custom-nth-child:nth-child(3n + 1) {
      margin-left: 0;
    }

    .swiper-notification {
      @apply sr-only;
    }
  }
}

.audio-player .rhap_progress-section {
  @apply flex w-1/2;
}

.audio-player .rhap_container {
  @apply border-0 shadow-none p-0;
}

.audio-player .rhap_progress-container {
  @apply flex-none w-auto;
}

.audio-player .rhap_progress-indicator {
  @apply w-3 h-3 mt-[3px] bg-black z-20;
}

.audio-player .rhap_progress-filled {
  @apply absolute z-10 bg-black rounded-sm shadow-none;
}

.audio-player .rhap_volume-bar {
  @apply hidden w-0;
}

.audio-player .rhap_progress-section {
  @apply items-center;
}

.audio-player .rhap_controls-section {
  @apply hidden;
}

.audio-player .rhap_volume-bar-area {
  @apply hidden w-0;
}

.audio-player .rhap_volume-container {
  @apply flex items-center;
}

.audio-player .rhap_volume-container {
  @apply flex rounded-full p-[6px] sm:p-3 bg-[#E3E3E3] flex-grow-0 shrink sm:basis-2 basis-0;
}

.audio-player .rhap_button-clear {
  @apply flex justify-center items-center;
}

.audio-player .rhap_play-volume-mute-button {
  @apply w-5 h-5;
}

.audio-player .rhap_container .rhap_main-controls svg {
  @apply stroke-[0.5px] items-center justify-center;
}

.audio-player #rhap_current-time {
  @apply sm:w-[50px] ml-1 sm:ml-5;
}

.audio-player .rhap_total-time {
  @apply sm:w-[50px] mr-2 sm:mr-5;
}

.audio-player .rhap_volume-button {
  @apply mr-0;
}

@media (max-width: 419px) {
  .audio-player .rhap_progress-bar-show-download {
    @apply w-8 h-[2px];
  }
}

@media (min-width: 420px) {
  .audio-player .rhap_progress-bar-show-download {
    @apply h-[2px] w-24;
  }
}

.play-button {
  background-color: rgba(216, 61, 53, 0.6);
  transform: translate(-50%, -50%);
}
