@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
  --primary: #111;
  --secondary: #222;
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet-light: #7048e8;
  --violet: #5f3dc4;

  --text-base: #000;
  --text-primary: #111;
  --text-secondary: #0313f3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

html,
body {
  color: var(--text-primary);
  font-family: "Poppins";
}

a {
  color: var(--primary);
  text-decoration: none;
  -webkit-tap-highlight-color: var(--secondary);
}

.object-cover img {
  object-fit: cover;
}

.object-contain img {
  object-fit: contain;
  object-position: center;
}

.swiper-slide img {
  object-fit: cover;
}

.container {
  @apply mx-auto my-0 px-4 md:px-6;
}

strong {
  @apply font-semibold;
}

.text-shadow {
  text-shadow: 0 0 4px #000;
}
