@import '../styles/form.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@layer base {
  /* h1 {
    @apply text-4xl font-semibold px-2 py-3;
  }
  h2 {
    @apply text-3xl font-semibold px-2 py-3;
  }
  h3 {
    @apply text-2xl font-semibold px-2 py-3;
  } */
}

@layer components {
  .button--with-arrow {
    @apply
      text-black font-semibold tracking-wider flex items-center md:text-xs
      after:w-8 after:h-8 md:after:w-10 md:after:h-10 after:inline-block after:bg-arrow-right-black after:ml-2
  }
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  @apply w-3 h-3 mx-2 bg-white md:hidden
}

.swiper .swiper-button-prev {
  @apply
    hidden md:flex w-14 h-14 top-auto bottom-12 2xl:bottom-24 left-16
    after:text-white after:bg-arrow-left after:w-3/5 after:h-full after:bg-no-repeat after:bg-center
    before:absolute before:inset-0 before:border before:border-white before:rounded-full before:scale-0 before:ease-in before:duration-300
    hover:before:scale-100;
}

.swiper .swiper-button-next {
  @apply
    hidden md:flex w-14 h-14 top-auto bottom-12 left-32 2xl:bottom-24
    after:text-white after:bg-arrow-right after:w-3/5 after:h-full after:bg-no-repeat after:bg-center
    before:absolute before:inset-0 before:border before:border-white before:rounded-full before:scale-0 before:ease-in before:duration-300
    hover:before:scale-100;
}

.SwiperGallery.swiper {
  @apply overflow-visible
}

.SwiperGallery.swiper .swiper-slide {
  @apply opacity-0 transition-all
}

.SwiperGallery.swiper .swiper-slide-active {
  @apply opacity-100
}

.SwiperGallery .swiper-button-prev {
  @apply
    left-[-33%] xl:left-[calc(-33%+1.5rem)] 2xl:-left-[333px]
    bottom-0 xl:bottom-8
    after:bg-arrow-left-black
    before:border-black
  }

.SwiperGallery .swiper-button-next {
    @apply
    bottom-0 xl:bottom-8
    left-[calc(-33%+3rem)] xl:left-[calc(-33%+4.5rem)] 2xl:-left-[calc(333px-3rem)]
    after:bg-arrow-right-black
    before:border-black
}

.title{
  @apply font-semibold uppercase text-base md:text-2xl
}

.title--big{
  @apply font-semibold uppercase text-lg md:text-2xl lg:text-3xl xl:text-4xl md:text-white md:absolute md:top-1/2 z-20 md:w-1/2 md:-translate-y-2/4
}

.title--small {
  @apply uppercase text-xxs md:text-sm lg:text-base md:tracking-wide;
}


@media (min-width: 1536px) {
  .mySwiper .swiper-button-prev {
    left: calc((100vw - 1380px) / 2)
  }
  .mySwiper .swiper-button-next {
    left: calc(((100vw - 1380px) / 2) + 60px )
  }
}
